<h2><%= t(:show, :default => "Show") %> <%= t('app.models.work_shop.bs_caption', :default => 'work_shop') %></h2>

  <p>
    <b><%= t('app.models.work_shop.bs_attributes.name', :default => 'name') %>:</b>
      <%= @work_shop.name %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.photo', :default => 'photo') %>:</b>
      <%= image_tag @work_shop.photo, size: '300x300' %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.description', :default => 'description') %>:</b>
      <%= @work_shop.description %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.address', :default => 'address') %>:</b>
      <%= @work_shop.address %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.phone', :default => 'phone') %>:</b>
      <%= @work_shop.phone %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.email', :default => 'email') %>:</b>
      <%= @work_shop.email %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.website', :default => 'website') %>:</b>
      <%= @work_shop.website %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.latitude', :default => 'latitude') %>:</b>
      <%= @work_shop.latitude %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.longitude', :default => 'longitude') %>:</b>
      <%= @work_shop.longitude %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.mon_wt', :default => 'mon_wt') %>:</b>
      <%= @work_shop.mon_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.mon_lt', :default => 'mon_lt') %>:</b>
      <%= @work_shop.mon_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.tue_wt', :default => 'tue_wt') %>:</b>
      <%= @work_shop.tue_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.tue_lt', :default => 'tue_lt') %>:</b>
      <%= @work_shop.tue_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.wed_wt', :default => 'wed_wt') %>:</b>
      <%= @work_shop.wed_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.wed_lt', :default => 'wed_lt') %>:</b>
      <%= @work_shop.wed_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.thu_wt', :default => 'thu_wt') %>:</b>
      <%= @work_shop.thu_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.thu_lt', :default => 'thu_lt') %>:</b>
      <%= @work_shop.thu_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.fri_wt', :default => 'fri_wt') %>:</b>
      <%= @work_shop.fri_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.fri_lt', :default => 'fri_lt') %>:</b>
      <%= @work_shop.fri_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.sat_wt', :default => 'sat_wt') %>:</b>
      <%= @work_shop.sat_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.sat_lt', :default => 'sat_lt') %>:</b>
      <%= @work_shop.sat_lt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.sun_wt', :default => 'sun_wt') %>:</b>
      <%= @work_shop.sun_wt %>
  </p>
  <p>
    <b><%= t('app.models.work_shop.bs_attributes.sun_lt', :default => 'sun_lt') %>:</b>
      <%= @work_shop.sun_lt %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_work_shop_path(@work_shop), :class => "btn btn-default" %>
<%= link_to t(:back, :default => "Back"), work_shops_path, :class => "btn btn-default" %>

